.navbar {
    background: linear-gradient(rgb(221, 76, 76), rgba(172, 26, 26, 0.438));
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    height: 5vh;
}

.nav-link {
    margin: 10px;
}

.navbar-link {
    position: absolute;
    left: 45%;
}

body {
    background: linear-gradient(rgb(221, 76, 76), rgba(172, 26, 26, 0.438));
}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 120vh;
    background-image: url("./assets/images/salle-cinema.jpeg");
    background-size: 100vw 120vh;
    color: white;
    font-family: 'Bangers', cursive;
}

.hero_title {
    font-size: 4.5em;

}

.g404 {
    display: block;
    text-decoration: underline;
    margin-bottom: 2px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}


/* classe api */
.animation {
    background: linear-gradient(rgb(0, 0, 0), #db9a9a);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.cardapi {
    width: 20%;
    display: inline-block;
    margin: 20px 0;
    padding: 0 5px;
}

.card-text {
    margin: auto;
}

.card-title {
    margin: auto;
    text-align: center;
}

.card-button {
    margin: auto;
}

.card-body {
    display: grid;
    max-width: 20rem;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
    gap: auto;
    padding: auto;
}

.card-body:hover {
    background: red
}

.card-img-top {
    max-width: 20rem;
    min-height: 500px;
    align-items: flex-start;
}

.footerCredit {
    color: rgb(199, 13, 13);
    text-align: center;
    margin-bottom: 1rem;
}

/* icon */
.icones {
    display: grid;
    width: 650px;
    justify-self: left;
}

.réseau {
    display: grid;
    align-items: center;
    justify-content: center;
}

.bi {
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 10px;
}

.align-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_footer {
    width: 650px;
    display: grid;
    justify-self: right;
}

.btn {
    margin-top: 2px;
    margin-bottom: 2px;
}

footer {
    margin-top: 4vh;
}

.col {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media (min-width: 100px) and (max-width: 1250px) {
    a {
        margin-bottom: 5px;
        align-self: end;
    }

    .container-fluid {
        flex-direction: column;
        height: 216px;
        flex-wrap: nowrap;
    }

    .navbar {
        height: auto;
        padding: 0%;
        margin-bottom: auto;
    }

    .nav-link {
        margin: 5px;
    }

    .cardapi {
        width: auto;
    }

    .card-title {
        color: blue;
    }

    .card-text {
        color: blue;
    }

    .align-icon {
        margin-bottom: 10px;
    }


}