.title-hero-header {
    text-align: center;
}

.hero {
    height: 80vh;
    background-image: url("./assets/images/salle-cinema.jpeg");
    background-size: 100vw 120vh;
    font-family: monospace;
    color: rgb(199, 13, 13);
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}

.container {
    margin-top: 4vh;
}

.card-img-top {
    height: 55vh;

}

.footerCredit {
    color: rgb(199, 13, 13);
    text-align: center;
}

.footerMarge {
    margin-top: 4vh;
    color: red;

}