.title-hero-header{
    text-align: center;
}
.nav{
    color: red;
}
.body{
    color: rgb(199, 13, 13);
    background-color: rgb(199, 13, 13);
}

.hero{     
    height:80vh;     
    background-image: url("./assets/images/salle-cinema.jpeg");     
    background-size: 100vw 120vh;     
    font-family: monospace;     
    color: rgb(199, 13, 13);     
    font-family: "Open Sans";     
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),          
    url("/fonts/OpenSans-Regular-webfont.woff") format("woff");      
}

.footer{
    background-color: rgb(199, 13, 13);
    text-align: center;
}
.p {
    color: rgb(199, 13, 13);
    text-align: center;
}